language: python
python:
- 2.7
env:
  global:
  - DOCKER_CONTENT_TRUST=0
services:
- docker
before_install:
- sudo apt-get update
- docker-compose --version
- pip install docker-compose --upgrade
- docker-compose --version
install:
- cd v1_6_7
- docker-compose build
- docker-compose up -d
- docker-compose ps
- docker exec --user=oscar -it oscar /sandbox.sh
before_script:
- pip install requests
- pip install docker
- cd $TRAVIS_BUILD_DIR
script:
- bash ./.travis/linters.sh
- python tests.py
notifications:
  slack:
    rooms:
    - optimum-team:"$SLACK"#build
after_success:
- cd $TRAVIS_BUILD_DIR/v1_6_7
- echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
- docker-compose images
- docker push trydirect/django-oscar:1.6.7
